.vscode/**
.vscode-test/**
src/**
out/**
build/**
node_modules/**
**/*.js.map
.gitignore
.yarnrc
yarn.lock
vsc-extension-quickstart.md
**/tsconfig.json
**/webpack.config.js
**/.eslintrc.json
**/*.ts
*.vsix
*.zip
